<style>
    #MainBody{
        display:flex;
        flex-direction:column;
        justify-content:center;
        text-align:center;
    }
    #dailyNews{
        
    }
    hr{
        border:1px solid black;
        width:100%;
    }
    .News{
        margin:auto;
        width:60%;
        text-align:left;
    }
    .News div div:nth-child(even){
        padding-left:2em;
    }
</style>
<script>
    $(document).ready(function(){
        $.ajax({
            url:"WebAPIs/GetDailyNews",
            type:"GET"
        }).done(function(result){
            $.each(result.data,function(index,value){
                var news='<div class="News"><div><div>日期:</div><div>'+
                    value.newsDate+
                '</div></div><div><div>標題:</div><div>'+
                    value.subject+
                '</div></div><div><div>內文:</div><div>'+
                    value.context+
                '</div></div><hr></div>'
                $("#dailyNews").append(news);
            });
        });
    });
</script>
<div id="MainBody">
    <h1>每日頭條</h1>
    <div id="dailyNews">
        
    </div>
</div>